<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perdana Mitra Kencana | Product</title>
    <link href="output.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="gallery_page.html">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <!-- Header Navigation -->
    <header class=" top-0 left-0 w-full pt-10 px-6 md:px-20 z-40 flex items-center justify-center fixed">
        <div class="absolute left-6 md:left-20">
            <img class="w-15 h-auto" src="../images/pmk_logo.png" alt="pmk-logo">
        </div>

        <nav class="mx-auto bg-[#7a1f1f] rounded-full p-2 z-10">
            <ul id="navbar-links" class="flex justify-center items-center gap-2 text-[16px] font-medium font-inter">
                <li class="nav-item px-6 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="../index.html">Home</a>
                </li>
                <li class="nav-item active px-6 py-2 bg-white text-[#7a1f1f] font-bold rounded-full cursor-pointer transition-all duration-300">
                    <a href="#">Product</a>
                </li>
                <li class="nav-item px-6 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="gallery_page.html">Gallery</a>
                </li>
                <!-- <li class="nav-item px-8 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="#about">About</a>
                </li> -->
                <li class="nav-item px-6 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="bg-[#7A1F1F] h-[100vh]">
            <div class="grid grid-cols-3 h-full">
                <div class="col-span-1 flex flex-col justify-center h-full px-20 space-y-6">
                    <div class="text-white text-8xl mt-8 font-semibold">
                        <h1>
                            Product Kami
                        </h1>
                    </div>

                    <div class="text-white">
                        <p>
                            Kami menghadirkan rangkaian produk filter dan penyaringan industri berkualitas tinggi yang dirancang untuk mendukung proses peleburan logam dan manufaktur. Setiap produk diproduksi dengan standar mutu ketat untuk memastikan performa optimal, daya tahan tinggi, dan efisiensi produksi.
                        </p>
                    </div>

                    <div class="bg-white px-6 py-2 w-fit rounded-full text-[#7A1F1F]">
                        <a href="">
                            Lihat Selebihnya
                        </a>
                    </div>
                </div>
                <div class="col-span-2 relative">
                    <div class="relative z-20 h-full justify-end items-end flex flex-col">
                        <div class="grid grid-cols-3">
                            <!-- Single Info -->
                           <div class="flex gap-4 px-10">
                                <div class="flex flex-col justify-center items-center space-y-4">
                                    <span class="bg-[#7A1F1F] w-4 h-4 inline-block rounded-full"></span>
                                    <span class="bg-[#7A1F1F] inline-block w-[2px] h-34"></span>
                                </div>
    
                                <div class="text-white flex flex-col justify-center space-y-2">
                                    <div class="text-5xl font-semibold">
                                        <h1>
                                            Stok <br> Tertata
                                        </h1>
                                    </div>
    
                                    <div class="text-lg font-light">
                                        <p>
                                            Manajemen Penyimpanan <br> rapi dan sistematis.
                                        </p>
                                    </div>
                                </div>
                           </div>
                           <!-- Single Info -->
                            
                            <!-- Single Info -->
                           <div class="flex gap-4 px-10">
                                <div class="flex flex-col justify-center items-center space-y-4">
                                    <span class="bg-[#7A1F1F] w-4 h-4 inline-block rounded-full"></span>
                                    <span class="bg-[#7A1F1F] inline-block w-[2px] h-34"></span>
                                </div>
    
                                <div class="text-white flex flex-col justify-center space-y-2">
                                    <div class="text-5xl font-semibold">
                                        <h1>
                                            Standar <br> Terjaga
                                        </h1>
                                    </div>
    
                                    <div class="text-lg font-light">
                                        <p>
                                            Proses kerja terkontrol dan konsisten.
                                        </p>
                                    </div>
                                </div>
                           </div>
                           <!-- Single Info -->
    
                            <!-- Single Info -->
                           <div class="flex gap-4 px-10">
                                <div class="flex flex-col justify-center items-center space-y-4">
                                    <span class="bg-[#7A1F1F] w-4 h-4 inline-block rounded-full"></span>
                                    <span class="bg-[#7A1F1F] inline-block w-[2px] h-34"></span>
                                </div>
    
                                <div class="text-white flex flex-col justify-center space-y-2">
                                    <div class="text-5xl font-semibold">
                                        <h1>
                                            Produksi <br> Terlindungi
                                        </h1>
                                    </div>
    
                                    <div class="text-lg font-light">
                                        <p>
                                            Produksi Aman, Stabil dan Berkelanjutan.
                                        </p>
                                    </div>
                                </div>
                           </div>
                           <!-- Single Info -->
                        </div>

                        <span class="bg-white/10 backdrop-blur-sm inline-block w-full mt-10 h-30"></span>
                    </div>

                    <img 
                        src="../images/product_hero.png" 
                        class="absolute h-full w-[66vw] inset-0"
                        alt=""
                        >
                </div>
            </div>
        </section>

        <section class="bg-white h-[100vh] px-30 py-20">
            <div class="flex justify-center items-start">
                <div class="text-6xl font-semibold">
                    <h1>
                        Our Product
                    </h1>
                </div>

                <div class="text-right pl-60">
                    <p class="mb-[5rem]">
                        Wire Mesh Filter adalah media penyaring berbahan anyaman kawat logam yang digunakan pada proses peleburan dan pengecoran logam untuk menyaring kotoran dan slag. Terbuat dari material stainless steel berkualitas, tahan suhu tinggi dan korosi, serta membantu menghasilkan hasil casting yang lebih bersih, rapi, dan berkualitas. Cocok digunakan di berbagai industri manufaktur dan metal casting.
                    </p>

                    <hr class="mt-10 text-[#7A1F1F]">
                </div>
            </div>

            <div class="grid grid-cols-5 mt-8">
                <div class="col-span-1 bg-[#7A1F1F] pr-6 py-4 space-y-4 rounded-r-[2rem] h-fit">
                    <!-- Upper Sec -->
                    <div class="bg-[#9C2A2A] text-white flex justify-between items-center w-full rounded-r-full px-4 py-2 font-semibold">
                        <!-- Title -->
                        <h1>
                            Product
                        </h1>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <!-- Middle Sec -->
                    <div class="bg-[#9C2A2A] text-white flex flex-col justify-center w-full rounded-r-[1rem] px-4 py-2 space-y-12 text-md">
                        <!-- List -->
                        <ul class="space-y-2">
                            <li class="font-semibold flex justify-between items-center">
                                <h1>
                                    Filter Mesh Galvanized
                                </h1>
                                <h1>
                                    |
                                </h1>
                            </li>
                            <li>
                                <h1>
                                    Filter Mesh Glassweve
                                </h1>
                            </li>
                            <li>
                                <h1>
                                    Filter Mesh SS
                                </h1>
                            </li>
                            <li>
                                <h1>
                                    Steel Cap Stopper
                                </h1>
                            </li>
                        </ul>

                        <!-- Bottom -->
                        <div class="font-semibold">
                            <h1>
                                Up Coming
                            </h1>
                        </div>
                    </div>

                    <!-- Bottom Sec -->
                    <div class="bg-[#9C2A2A] text-white flex flex-col justify-center w-full rounded-r-[1rem] px-4 py-2 space-y-4">
                        <!-- Icon -->
                        <div class="flex space-x-2">
                            <div class="bg-transparent px-[.6rem] py-1 border-3 border-white rounded-full flex justify-center items-center">
                                <h1>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </h1>
                            </div>
                            <div class="bg-transparent px-[.6rem] py-1 border-3 border-white rounded-full flex justify-center items-center">
                                <h1>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </h1>
                            </div>
                            <div class="bg-transparent px-[.6rem] py-1 border-3 border-white rounded-full flex justify-center items-center">
                                <h1>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </h1>
                            </div>
                        </div>

                        <!-- Telp -->
                        <div class="bg-[#7A1F1F] rounded-full py-2 px-4 flex justify-center items-center w-fit">
                            +08 000 0000 0000
                        </div>
                    </div>
                </div>

                <div class="col-span-4 min-w-0">
                    <div class="grid grid-cols-3 px-12 max-h-[40rem] overflow-y-scroll gap-6">
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample2.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample3.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->     
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample2.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample3.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->     
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample2.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-2xl w-[18rem]">
                            <img 
                                src="../images/product_sample3.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->     
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Us Section -->
        <section id="contact" class="relative min-h-screen py-20 mx-auto mt-40">
            <div class="flex justify-between items-center mb-16 relative z-10 px-10">
                <h1 class="text-[50px] font-semibold font-jakarta">Contact Us</h1>
                <p class="text-[14px] text-right text-black mt-10 leading-relaxed">Hubungi Kami <br> Kami siap membantu kebutuhan Anda. Silakan hubungi kami untuk informasi lebih lanjut, <br> konsultasi produk, atau kerja sama bisnis. Tim kami akan merespons secepat mungkin.</p>
            </div>

            <div class="relative w-full h-[600px] flex items-center">
                <div class="flex justify-start absolute inset-0">
                    <img src="../images/contact_bg.png" alt="Contact Background" class="w-[1080px] h-[800px]">
                </div>

                <div class="relative z-10 w-1/2 pl-10">
                    <h2 class="text-5xl font-bold text-[#7a1f1f] leading-tight mb-4">
                        Kolaborasi yang tepat <br> dimulai dari komunikasi <br> yang baik.
                    </h2>
                    <p class="text-[16px] text-black">
                        Hubungi kami untuk solusi industri yang andal dan berkelanjutan.
                    </p>
                </div>

                <div class="z-10 bg-white border border-black p-8 rounded-3xl shadow-2xl w-[600px] h-[500px] mt-10">
                    <form class="space-y-4">
                        <div>
                            <label class="block text-sm font-medium mb-1">Nama</label>
                            <input type="text" class="w-full h-[55px] p-3 bg-gray-100 rounded-2xl focus:outline-none" placeholder="Nama Anda">
                        </div>
                        <div>
                            <label class="block text-sm font-medium mb-1">Email</label>
                            <input type="email" class="w-full p-3 bg-gray-100 rounded-xl focus:outline-none" placeholder="Email Anda">
                        </div>
                        <div>
                            <label class="block text-sm font-medium mb-1">Pesan</label>
                            <textarea class="w-full p-3 bg-gray-100 rounded-xl h-44 focus:outline-none" placeholder="Pesan Anda"></textarea>
                        </div>
                        <button class="group flex items-center gap-2 bg-[#7a1f1f] text-white px-4 py-2 rounded-full hover:bg-[#651818] transition">
                            <span class="text-[15px] font-medium">Kirim Pesan</span>

                            <span class="flex items-center justify-center w-6 h-6 bg-white rounded-full group-hover:translate-x-1 transition">
                                <i class="fa-solid fa-arrow-right text-[#7a1f1f] text-lg"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </section>

       <section class="flex justify-center items-center py-10 mt-30 px-20 w-full">
            <div class="container flex justify-center">
                <div class="overflow-hidden rounded-3xl shadow-lg border border-gray-200">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7934.2784700288985!2d106.8869848540482!3d-6.111949706415569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a1f006cdfa0b5%3A0x2a09ead5cb0fa2cf!2sPT.%20Perdana%20Mitra%20Kencana!5e0!3m2!1sen!2sid!4v1771299882137!5m2!1sen!2sid" class="w-[100rem] h-[300px]" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
       <footer class="w-full bg-[#7A1F1F] rounded-t-[20px] mt-30 px-10 py-10 flex flex-col">
            <div class="fle w-full mb-10">
                <h1 class="text-white text-[90px] font-semibold ">PT. Perdana Mitra Kencana</h1>
            </div>

            <div class="w-full flex flex-col gap-8">
                <hr class="w-full border-t border-white-30 pt-3">
                <div class="flex justify-start items-start gap-x-10">
                    <div class="flex justify-between gap-10">
                        <div class="flex flex-col gap-y-17">
                            <a href=""><i class="fa-solid fa-location-dot text-xl" style="color: rgba(255, 255, 255, 1.00);"></i></a>
                            <div class="flex flex-col gap-12">
                                <a href=""><i class="fa-solid fa-envelope text-white text-xl"></i></a>
                                <a href=""><i class="fa-solid fa-phone text-xl" style="color: rgba(255, 255, 255, 1.00);"></i></a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-6 text-white text-[14px]">
                            <p>Jl. Kb. Bawang No.35, RT.8/RW.6, Kb.<br> Bawang, Kec. Tj. Priok, Jkt Utara, Daerah <br> Khusus Ibukota Jakarta 14320</p>
                            <div class="flex flex-col gap-12">
                                <p>perdanamitrakencana@outlook.com</p>
                                <p>perdanamitrakencana@outlook.co</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex gap-x-30">
                        <div class="flex flex-col gap-4">
                            <h1 class="text-[18px] text-white font-semibold">Product</h1>
                            <p class="text-white text-[16px] font-light">Filter Mesh Stainless</p>
                            <p class="text-white text-[16px] font-light">Filter Mesh Galvanized</p>
                            <p class="text-white text-[16px] font-light">Filter Mesh SS</p>
                            <p class="text-white text-[16px] font-light">Steel Cap Stoper</p>
                        </div>
                        <div class="flex flex-col gap-4">
                            <h1 class="text-[18px] text-white font-semibold">Quick Link</h1>
                            <p class="text-white text-[16px] font-light">Home</p>
                            <p class="text-white text-[16px] font-light">Product</p>
                            <p class="text-white text-[16px] font-light">Gallery</p>
                            <p class="text-white text-[16px] font-light">Contact</p>
                        </div>

                        <div class="flex flex-col text-white">
                            <h1 class="text-[18px] font-semibold">Call to Action</h1>
                            <p class="text-[16px] font-light">Solusi penyaringan industri yang tepat.<br>Efisiensi produksi dimulai dari sistem filtrasi <br> yang berkualitas.</p>
                            <div class="flex flex-col gap-4">
                                <div class="relative">
                                    <input type="text" placeholder="hubungi kami" class="w-60 h-8 bg-white text-black border border-white rounded-full px-[20px] py-[10px] text-[14px] mt-4">
                                    <i class="fa-solid fa-angle-right absolute bottom-2 right-14" style="color: rgb(122, 31, 31);"></i></i>
                                </div>
                                <div class="flex gap-3">
                                    <a href="" class="flex justify-center items-center w-7 h-7 border border-white rounded-full" ><i class="fa-brands fa-whatsapp" style="color: white;"></i></a>
                                    <a href="" class="flex justify-center items-center w-7 h-7 border border-white rounded-full" ><i class="fa-brands fa-instagram" style="color: white;"></i></a>
                                    <a href="" class="flex justify-center items-center w-7 h-7 border border-white rounded-full" ><i class="fa-solid fa-envelope" style="color: white;"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="flex justify-center items-center">
                    <p class="text-white/50 text-[18px] font-light">© 2026 PT Perdana Mitra Kencana. All rights reserved. Designed by PMK Digital Team.</p>
                </div>
            </div>
        </footer>

</body>
</html>