<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perdana Mitra Kencana | Product</title>
    <link href="output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
</head>

<body class="bg-white overflow-x-hidden">
    <div class="bg-[#7a1f1f] flex md:hidden py-3 px-4 gap-3 justify-end items-end">
        <a href="" class="flex justify-center items-center w-7 h-7 border border-white rounded-full" ><i class="fa-brands fa-whatsapp" style="color: white;"></i></a>
        <a href="" class="flex justify-center items-center w-7 h-7 border border-white rounded-full" ><i class="fa-brands fa-instagram" style="color: white;"></i></a>
        <a href="" class="flex justify-center items-center w-7 h-7 border border-white rounded-full" ><i class="fa-solid fa-envelope" style="color: white;"></i></a>
    </div>
    <!-- Header Navigation -->
     <header class="top-0 left-0 w-full pt-5 md:pt-10 px-4 md:px-20 md:pb-4 z-25 flex items-center justify-between md:justify-center md:fixed md:backdrop-blur md:bg-white/10">
   <!-- Logo -->
        <div id="logo" class="md:absolute md:left-10 flex items-center">
            <img class="w-10 h-auto md:w-15" src="../images/pmk_logo.png" alt="pmk-logo">
        </div>

        <!-- Nav Drawer -->
        <nav id="navLinks" class="hidden duration-500 md:static md:flex md:items-center md:bg-[#7a1f1f] min-h-screen w-screen md:min-h-0 md:p-2 md:w-auto md:rounded-full fixed top-12 inset-0 bg-[#7a1f1f] flex-col rounded-b-3xl justify-center items-center z-15">
            <button onclick="closeMenu()" class="md:hidden absolute top-8 right-8  bg-[#6b1515] text-white w-10 h-10 rounded-full flex items-center justify-center">
                <i class="fa-solid fa-xmark fa" style="color: white"></i>
            </button>

            <ul id="navbar-links" class="flex md:flex-row flex-col justify-center items-center gap-8 md:gap-2 text-[16px] font-medium font-inter w-full py-10 md:py-0">
                <li class="nav-item px-6 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="../index.html">Home</a>
                </li>
                <li class="nav-item active px-6 py-2 bg-white text-[#7a1f1f] font-bold rounded-full cursor-pointer transition-all duration-300">
                    <a href="#">Product</a>
                </li>
                <li class="nav-item px-6 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="gallery_page.html">Gallery</a>
                </li>
                <li class="nav-item px-6 py-2 rounded-full text-white cursor-pointer transition-all duration-300 hover:bg-white/10">
                    <a href="contact_page.html">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Tombol Hamburger -->
        <div id="menuBtn" onclick="onToggleMenu(this)" class="flex md:hidden cursor-pointer rounded-full bg-[#7a1f1f] w-8 h-8 items-center justify-center z-50">
            <i name="menu" class="fa-solid fa-bars fa-sm" style="color: white"></i>
        </div>

    </header>
    <main>
        <section class="md:bg-[#7A1F1F] h-screen w-full">
            <div class="md:grid md:grid-cols-3 md:h-full">
                <div class="md:col-span-1 flex flex-col justify-center h-full px-6 md:px-10 space-y-3">
                    <div class="md:text-white md:text-7xl text-5xl font-bold mt-8 md:font-semibold">
                        <h1>
                            Product <br>Kami
                        </h1>
                    </div>

                    <div class="md:text-white text-[13px]">
                        <p>
                            Kami menghadirkan rangkaian produk filter dan penyaringan industri berkualitas tinggi yang dirancang untuk mendukung proses peleburan logam dan manufaktur. Setiap produk diproduksi dengan standar mutu ketat untuk memastikan performa optimal, daya tahan tinggi, dan efisiensi produksi.
                        </p>
                    </div>

                    <button class="md:bg-white px-6 py-2 w-fit rounded-full md:text-[#7A1F1F] text-white bg-[#7A1F1F] text-sm">
                        <a href="#product">
                            Lihat Selebihnya
                        </a>
                    </button>
                </div>
               <div class="swiper mySwiper w-full px-4 mt-5 md:hidden">
                    <div class="swiper-wrapper">

                        <!-- Slide 1 -->
                        <div class="swiper-slide w-[80%] rounded-2xl overflow-hidden relative h-120">
                        <img src="../images/product_slider_1.png" alt="Stok Tertata" class="w-full h-full object-cover">
                        <div class="absolute inset-0 bg-black/20 rounded-2xl"></div>
                        <div class="absolute bottom-8">
                            <span class="relative w-3 h-3 bg-[#7A1F1F] rounded-full inline-block mb-3 left-4"></span>
                            <div class="relative flex items-start gap-3 left-5">
                                <div class="w-0.5 bg-[#7A1F1F] self-stretch"></div>
                                <div class="text-white">
                                    <h3 class="text-4xl font-semibold leading-tight">Stok<br>Tertata</h3>
                                    <p class="text-sm font-light mt-2 text-white/90">Manajemen penyimpanan<br>rapi dan sistematis.</p>
                                </div>
                            </div>
                        </div>
                        </div>

                        <!-- Slide 2 -->
                        <div class="swiper-slide w-[80%] rounded-2xl overflow-hidden relative h-120">
                        <img src="../images/product_slider_2.png" alt="Slide 2" class="w-full h-full object-cover">
                        <div class="absolute inset-0 bg-black/20 rounded-2xl"></div>
                        <div class="absolute bottom-8">
                            <span class="relative w-3 h-3 bg-[#7A1F1F] rounded-full inline-block mb-3 left-4"></span>
                            <div class="relative flex items-start gap-3 left-5">
                                <div class="w-0.5 bg-[#7A1F1F] self-stretch"></div>
                                <div class="text-white">
                                    <h3 class="text-4xl font-semibold leading-tight">Standar<br>Terjaga</h3>
                                    <p class="text-sm font-light mt-2 text-white/90">Proses kerja terkontrol dan <br>konsisten.</p>
                                </div>
                            </div>
                        </div>
                        </div>

                        <!-- Slide 3 -->
                        <div class="swiper-slide w-[80%] rounded-2xl overflow-hidden relative h-120">
                        <img src="../images/product_slider_3.png" alt="Slide 3" class="w-full h-full object-cover">
                        <div class="absolute inset-0 bg-black/20 rounded-2xl"></div>
                        <div class="absolute bottom-8">
                            <span class="relative w-3 h-3 bg-[#7A1F1F] rounded-full inline-block mb-3 left-4"></span>
                            <div class="relative flex items-start gap-3 left-5">
                                <div class="w-0.5 bg-[#7A1F1F] self-stretch"></div>
                                <div class="text-white">
                                    <h3 class="text-4xl font-semibold leading-tight">Produksi <br>Terlindungi</h3>
                                    <p class="text-sm font-light mt-2 text-white/90">Produksi aman, stabil, dan <br>berkelanjutan..</p>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>

                <div class="hidden md:block col-span-2 relative">
                    <div class="relative z-20 h-full justify-end items-end flex flex-col">
                        <div class="grid grid-cols-3">
                            <!-- Single Info -->
                           <div class="flex gap-2 px-6">
                                <div class="flex flex-col justify-center items-center space-y-4">
                                    <span class="bg-[#7A1F1F] w-4 h-4 inline-block rounded-full"></span>
                                    <span class="bg-[#7A1F1F] inline-block w-0.5 h-34"></span>
                                </div>
    
                                <div class="md:text-white flex flex-col justify-center space-y-2">
                                    <div class="text-[40px] font-semibold leading-15">
                                        <h1>
                                            Stok <br> Tertata
                                        </h1>
                                    </div>
    
                                    <div class="text-[18px] font-light">
                                        <p>
                                            Manajemen Penyimpanan <br> rapi dan sistematis.
                                        </p>
                                    </div>
                                </div>
                           </div>
                           <!-- Single Info -->
                            
                            <!-- Single Info -->
                           <div class="flex gap-4 px-6">
                                <div class="flex flex-col justify-center items-center space-y-4">
                                    <span class="bg-[#7A1F1F] w-4 h-4 inline-block rounded-full"></span>
                                    <span class="bg-[#7A1F1F] inline-block w-0.5 h-34"></span>
                                </div>
    
                                <div class="text-white flex flex-col justify-center space-y-2">
                                    <div class="text-[40px] font-semibold leading-15">
                                        <h1>
                                            Standar <br> Terjaga
                                        </h1>
                                    </div>
    
                                    <div class="text-[18px] font-light">
                                        <p>
                                            Proses kerja terkontrol dan konsisten.
                                        </p>
                                    </div>
                                </div>
                           </div>
                           <!-- Single Info -->
    
                            <!-- Single Info -->
                           <div class="flex gap-4 px-6">
                                <div class="flex flex-col justify-center items-center space-y-4">
                                    <span class="bg-[#7A1F1F] w-4 h-4 inline-block rounded-full"></span>
                                    <span class="bg-[#7A1F1F] inline-block w-0.5 h-34"></span>
                                </div>
    
                                <div class="text-white flex flex-col justify-center space-y-2">
                                    <div class="text-[40px] font-semibold leading-15">
                                        <h1>
                                            Produksi <br> Terlindungi
                                        </h1>
                                    </div>
    
                                    <div class="text-[18px] font-light">
                                        <p>
                                            Produksi Aman, Stabil dan Berkelanjutan.
                                        </p>
                                    </div>
                                </div>
                           </div>
                           <!-- Single Info -->
                        </div>

                        <span class="bg-white/10 backdrop-blur-sm inline-block w-full mt-10 h-30"></span>
                    </div>

                    <img 
                        src="../images/product_hero.png" 
                        class="absolute h-full w-[66vw] inset-0"
                        alt=""
                        >
                </div>
            </div>
        </section>

        <section class="md:bg-white h-screen md:px-10 py-10 mt-30">
            <div class="flex flex-col md:flex md:flex-row justify-center md:justify-between px-4">
                <div class="font-semibold">
                    <h1 id="product" class="mb-5 text-4xl md:text-6xl">
                        <span class="text-[#7A1F1F] md:text-black">Our </span><br class="hidden md:block">Product
                    </h1>
                </div>

                <div class="md:text-right md:pl-60 text-justify text-sm">
                    <p class="mb-10 md:mb-0">
                        Wire Mesh Filter adalah media penyaring berbahan anyaman kawat logam yang digunakan pada proses peleburan dan pengecoran logam untuk menyaring kotoran dan slag. Terbuat dari material stainless steel berkualitas, tahan suhu tinggi dan korosi, serta membantu menghasilkan hasil casting yang lebih bersih, rapi, dan berkualitas. Cocok digunakan di berbagai industri manufaktur dan metal casting.
                    </p>

                     <div class="hidden md:block mt-10">
                        <div class=" flex items-center gap-3">
                            <div class="absolute left-100 w-10 h-px bg-[#7A1F1F]"></div>
                            <div class="w-full h-px bg-[#7a1f1f]"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="md:hidden bg-[#7A1F1F] pr-4 py-3 mb-5">
                <button onclick="toggleAccordion(this)" class="w-full bg-[#9B2C2C] text-white flex items-start justify-between px-5 py-3 rounded-r-full">
                    <span class="font-semibold text-base">Product</span>
                    <svg class="w-5 h-5 transition-transform duration-300" fill="none" stroke="currentColor" stroke-width="2.5" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>

                <!-- Content -->
                <div class="hidden mt-2 px-2 pb-2 mb-5">
                    <a href="#" class="block px-5 py-3 text-white hover:bg-[#9B2C2C] rounded-xl transition">Wiremesh</a>
                    <a href="#" class="block px-5 py-3 text-white hover:bg-[#9B2C2C] rounded-xl transition">Stainless</a>
                    <a href="#" class="block px-5 py-3 text-white hover:bg-[#9B2C2C] rounded-xl transition">Galvanized</a>
                </div>
            </div>
  
            <div class="md:hidden relative rounded-2xl overflow-hidden mb-4">
                <img src="../images/Card Product.png" alt="filter wire mesh" class="w-full h-full object-cover">
                <p class="absolute bottom-14 left-10 text-white font-semibold text-xl leading-tight">
                filter wire <br> mesh stainless <br> steel
                </p>
            </div>

                <!-- Grid 2 kolom bawah -->
           <div class="md:hidden swiper myProduct w-full p-2">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide w-auto ">
                            <div class="w-full bg-white rounded-3xl shadow-xl overflow-hidden border border-gray-100">
                                <div class="aspect-square w-full">
                                    <img src="../images/4.png" alt="Sharing Machine" class="w-full h-full object-cover">
                                </div>
                                <div class="px-3 py-4">
                                    <h2 class="text-[11px] font-medium text-amber-900 leading-tight">filter wire mesh stainless steel</h2>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide w-auto">
                            <div class="w-full bg-white rounded-3xl shadow-xl overflow-hidden border border-gray-100">
                                <div class="aspect-square w-full">
                                    <img src="../images/product 2.png" alt="Press Machine" class="w-full h-full object-cover">
                                </div>
                                <div class="px-3 py-4">
                                    <h2 class="text-[11px] font-medium text-amber-900 leading-tight">filter wire mesh stainless steel</h2>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide w-auto">
                            <div class="w-full bg-white rounded-3xl shadow-xl overflow-hidden border border-gray-100">
                                <div class="aspect-square w-full">
                                    <img src="../images/product 1.png" alt="Lathe Machine" class="w-full h-full object-cover">
                                </div>
                                <div class="px-3 py-4">
                                    <h2 class="text-[11px] font-medium text-amber-900 leading-tight">filter wire mesh stainless steel</h2>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide w-auto">
                            <div class="w-full bg-white rounded-3xl shadow-xl overflow-hidden border border-gray-100">
                                <div class="aspect-square w-full">
                                    <img src="../images/product 3.png" alt="Milling Machine" class="w-full h-full object-cover">
                                </div>
                                <div class="px-3 py-4">
                                    <h2 class="text-[11px] font-medium text-amber-900 leading-tight">filter wire mesh stainless steel</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            <div class="hidden md:grid md:grid-cols-5 mt-8">
                <div class="col-span-1 bg-[#7A1F1F] pr-6 py-4 space-y-4 rounded-r-4xl h-fit">
                    <!-- Upper Sec -->
                    <div class=" bg-[#9C2A2A] text-white flex justify-between items-center w-full rounded-r-full px-4 py-2 font-semibold">
                        <!-- Title -->
                        <h1>
                            Product
                        </h1>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>

                    <!-- Middle Sec -->
                    <div class="bg-[#9C2A2A] text-white flex flex-col justify-center w-full rounded-r-2xl px-4 py-2 space-y-12 text-md">
                        <!-- List -->
                        <ul class="space-y-2">
                            <li class="font-semibold flex justify-between items-center">
                                <h1>
                                    Filter Mesh Galvanized
                                </h1>
                                <h1>
                                    |
                                </h1>
                            </li>
                            <li>
                                <h1>
                                    Filter Mesh Glassweve
                                </h1>
                            </li>
                            <li>
                                <h1>
                                    Filter Mesh SS
                                </h1>
                            </li>
                            <li>
                                <h1>
                                    Steel Cap Stopper
                                </h1>
                            </li>
                        </ul>

                        <!-- Bottom -->
                        <div class="font-semibold">
                            <h1>
                                Up Coming
                            </h1>
                        </div>
                    </div>

                    <!-- Bottom Sec -->
                    <div class=" bg-[#9C2A2A] text-white flex flex-col w-full rounded-r-2xl px-2 py-2 space-y-4">
                        <!-- Icon -->
                        <div class="flex">
                            <div class="bg-transparent px-[.6rem] py-1 border-3 border-white rounded-full flex justify-center items-center">
                                <h1>
                                    <a href="https://wa.me/6281210035326" class="flex justify-center items-center w-9 h-9 md:w-8 md:h-8 border border-white rounded-full" ><i class="fa-brands fa-whatsapp fa-sm" style="color: white;"></i></a>
                                </h1>
                            </div>
                            <div class="bg-transparent px-[.6rem] py-1 border-3 border-white rounded-full flex justify-center items-center">
                                <h1>
                                    <a href="https://www.instagram.com/perdanamitrakencana?utm_source=qr&igsh=MTNvZXBvZWh6eW40ZQ==" class="flex justify-center items-center w-9 h-9 md:w-8 md:h-8 border border-white rounded-full" ><i class="fa-brands fa-instagram fa-sm" style="color: white;"></i></a>
                                </h1>
                            </div>
                            <div class="bg-transparent px-[.6rem] py-1 border-3 border-white rounded-full flex justify-center items-center">
                                <h1>
                                    <a href="perdanamitrakencana@outlook.com" class="flex justify-center items-center w-9 h-9 md:w-8 md:h-8 border border-white rounded-full" ><i class="fa-solid fa-envelope fa-sm" style="color: white;"></i></a>
                                </h1>
                            </div>
                        </div>

                        <!-- Telp -->
                        <div class="bg-[#7A1F1F] rounded-full py-2 px-4 flex justify-center items-center w-fit">
                            +08 000 0000 0000
                        </div>
                    </div>
                </div>

                <div class="hidden md:block col-span-4 min-w-0">
                    <div class="grid grid-cols-3 pl-10 gap-3">
                        <!-- Single Product -->
                        <div class="shadow-2xl h-fit">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless <br>Steel
                                </h1>
                            </div>
                        </div>
                        <div class="shadow-xl">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless <br>Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-xl">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless <br>Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <div class="shadow-xl">
                            <img 
                                src="../images/product_sample.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless <br>Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-xl">
                            <img 
                                src="../images/product_sample2.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless <br>Steel
                                </h1>
                            </div>
                        </div>
                        <!-- Single Product -->
                        <!-- Single Product -->
                        <div class="shadow-xl">
                            <img 
                                src="../images/product_sample3.png" 
                                alt=""
                                class="w-full"
                                >
                            <div class="bg-white text-[#7A1F1F] font-semibold px-4 py-6 text-md w-fit">
                                <h1>
                                    Filter Wire Mesh Stainless <br>Steel
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Contact Us Section -->
          <section id="contact" class="relative min-h-screen py-6 mx-auto md:px-14 md:items-start mt-80">
            <div class="flex justify-center md:justify-start absolute inset-0">
                    <img src="../images/contact_bg.png" alt="Contact Background">
            </div>

            <div class="md:flex md:flex-row flex flex-col justify-between items-center mt-3 relative z-10 px-4 md:items-start">
                <h1 class="text-[40px] md:text-[50px] font-bold md:font-semibold font-jakarta text-center md:text-left">Contact Us</h1>
                <p class="hidden md:block text-[14px] text-right text-black mt-5 leading-relaxed">Hubungi Kami <br> Kami siap membantu kebutuhan Anda. Silakan hubungi kami untuk informasi lebih lanjut, <br> konsultasi produk, atau kerja sama bisnis. Tim kami akan merespons secepat mungkin.</p>
            </div>

            <div class="relative w-full h-100 flex flex-col md:flex-row items-center md:gap-6 md:justify-between">
                
                <div class="relative z-10 px-4 mt-3">
                    <h2 class="text-[16px] md:text-[36px] font-medium text-[#7a1f1f] leading-tight mb-4 text-justify md:text-left">
                        Kolaborasi yang tepat <br class="hidden md:block">dimulai dari komunikasi <br class="hidden md:block">yang baik.
                    </h2>
                    <p class="text-[14px] md:text-[16px] text-black mt-5">
                        Hubungi kami untuk solusi industri yang andal dan berkelanjutan.
                    </p>
                    <div class="hidden md:flex gap-3 md:absolute items-center md:items-start md:justify-start justify-center mt-5 md:mt-40">
                        <a href="https://wa.me/6281210035326" class="flex justify-center items-center w-7 h-7 md:w-9 md:h-9 border-2 border-[#7A1F1F] rounded-full" ><i class="fa-brands fa-whatsapp fa-lg" style="color: #7A1F1F;"></i></a>
                        <a href="https://www.instagram.com/perdanamitrakencana?utm_source=qr&igsh=MTNvZXBvZWh6eW40ZQ==" class="flex justify-center items-center w-7 h-7 md:w-9 md:h-9 border-2 border-[#7A1F1F] rounded-full" ><i class="fa-brands fa-instagram fa-lg" style="color: #7A1F1F;"></i></a>
                        <a href="mailto:perdanamitrakencana@outlook.com" class="flex justify-center items-center w-7 h-7 md:w-9 md:h-9 border-2 border-[#7A1F1F] rounded-full" ><i class="fa-solid fa-envelope fa-lg" style="color: #7A1F1F;"></i></a>
                    </div>
                </div>

                <div class="z-10 bg-white border border-black p-6 md:p-8 rounded-3xl shadow-2xl md:w-150 md:h-125 w-95 mt-5 md:mt-36">
                    <form id="contactForm" class="space-y-4">
                        <div>
                            <label class="block text-sm font-medium mb-1">Nama</label>
                            <input id="name" type="text" class="w-full p-3 bg-gray-100 rounded-2xl text-sm focus:outline-none" placeholder="Nama Anda">
                        </div>
                        <div>
                            <label class="block text-sm font-medium mb-1">Email</label>
                            <input id="email" type="email" class="w-full p-3 bg-gray-100 rounded-xl text-sm focus:outline-none" placeholder="Email Anda">
                        </div>
                        <div>
                            <label class="block text-sm font-medium mb-1">Pesan</label>
                            <textarea id="message" class="w-full p-3 bg-gray-100 rounded-xl h-36 text-sm focus:outline-none" placeholder="Pesan Anda"></textarea>
                        </div>
                        <button type="submit" class="group flex items-center gap-2 bg-[#7a1f1f] text-white px-4 py-2 rounded-full hover:bg-[#651818] transition">
                            <span class="text-[12px] md:text-[15px] font-medium">Kirim Pesan</span>
                            <span class="flex items-center justify-center w-4 h-4 bg-white rounded-full">
                                <i class="fa-solid fa-arrow-right text-[#7a1f1f] text-xs"></i>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </section>


       <section class="hidden md:flex justify-center items-center py-10 mt-20 px-20 w-full">
            <div class="container flex justify-center">
                <div class="overflow-hidden rounded-3xl shadow-lg border border-gray-200">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7934.2784700288985!2d106.8869848540482!3d-6.111949706415569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a1f006cdfa0b5%3A0x2a09ead5cb0fa2cf!2sPT.%20Perdana%20Mitra%20Kencana!5e0!3m2!1sen!2sid!4v1771299882137!5m2!1sen!2sid" class="w-400 h-75" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer Section -->
     <footer class=" bg-[#7A1F1F] rounded-t-[20px] p-8 flex flex-col mt-10">
            <div class="md:flex md:flex-col w-full mb-5">
                <h1 class="text-white min-w-screen text-[55px] md:text-[95px] font-semibold">PT. Perdana <br class="md:hidden">Mitra Kencana</h1>
                <div class="hidden md:block md:bg-white md:w-full md:h-0.5"></div>
            </div>

            <div class="w-full flex flex-col gap-8">
                <div class="flex flex-col md:flex-row justify-start items-start gap-x-10">
                    <div class="flex justify-between gap-10">
                        <div class="flex flex-col gap-y-23 md:gap-y-17 mt-2">
                            <a href=""><i class="fa-solid fa-location-dot fa-xl" style="color: rgba(255, 255, 255, 1.00);"></i></a>
                            <div class="flex flex-col gap-15 md:gap-14">
                                <a href=""><i class="fa-solid fa-envelope text-white fa-xl"></i></a>
                                <a href=""><i class="fa-solid fa-phone fa-xl" style="color: rgba(255, 255, 255, 1.00);"></i></a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-6 text-white text-[16px] md:text-[16px]">
                            <p>Jl. Kb. Bawang No.35, RT.8/RW.6, Kb.<br> Bawang, Kec. Tj. Priok, Jkt Utara, Daerah <br> Khusus Ibukota Jakarta 14320</p>
                            <div class="flex flex-col gap-14">
                                <p>perdanamitrakencana@outlook.com</p>
                                <p>perdanamitrakencana@outlook.co</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="md:flex md:flex-row md:gap-x-20">
                        <div class="hidden md:flex md:flex-col md:gap-5">
                            <h1 class="text-[18px] md:text-[22px] text-white font-semibold">Product</h1>
                            <p class="text-white text-[14px] font-light">Filter Mesh Stainless</p>
                            <p class="text-white text-[14px] font-light">Filter Mesh Galvanized</p>
                            <p class="text-white text-[16px] font-light">Filter Mesh SS</p>
                            <p class="text-white text-[16px] font-light">Steel Cap Stoper</p>
                        </div>
                        <div class="md:flex md:gap-40">
                            <div class="hidden md:flex md:flex-col md:gap-5">
                                <h1 class="text-[18px] md:text-[22px] text-white font-semibold">Quick Links</h1>
                                <p class="text-white text-[16px] font-light">Home</p>
                                <p class="text-white text-[16px] font-light">Product</p>
                                <p class="text-white text-[16px] font-light">Gallery</p>
                                <p class="text-white text-[16px] font-light">Contact</p>
                            </div>

                            <div class="md:hidden container flex justify-center mt-7">
                                <div class="overflow-hidden rounded-3xl shadow-lg border border-gray-200">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7934.2784700288985!2d106.8869848540482!3d-6.111949706415569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6a1f006cdfa0b5%3A0x2a09ead5cb0fa2cf!2sPT.%20Perdana%20Mitra%20Kencana!5e0!3m2!1sen!2sid!4v1771299882137!5m2!1sen!2sid" class="w-full h-50" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>

                            <div class="flex flex-col text-white mt-5 md:mt-0">
                                <h1 class="text-[22px] font-bold">Call to Action</h1>
                                <p class="text-[12.75px] md:text-[16px] font-light text-justify">Solusi penyaringan industri yang tepat. <br class="hidden md:block">Efisiensi produksi dimulai dari sistem filtrasi <br class="hidden md:block">yang berkualitas.</p>
                                <div class="flex flex-col gap-4">
                                    <div class="relative">
                                        <input type="text" placeholder="hubungi kami" class="w-full md:w-60 h-8 bg-white text-black border border-white rounded-full px-5 py-2.5 text-[14px] mt-4">
                                        <i class="fa-solid fa-angle-right absolute bottom-2 right-4 md:right-14" style="color: rgb(122, 31, 31);"></i></i>
                                    </div>
                                    <div class="flex gap-3 items-center md:items-start md:justify-start justify-center mt-5 md:mt-0">
                                        <a href="https://wa.me/6281210035326" class="flex justify-center items-center w-7 h-7 md:w-9 md:h-9 border border-white rounded-full" ><i class="fa-brands fa-whatsapp" style="color: white;"></i></a>
                                        <a href="https://www.instagram.com/perdanamitrakencana?utm_source=qr&igsh=MTNvZXBvZWh6eW40ZQ==" class="flex justify-center items-center w-7 h-7 md:w-9 md:h-9 border border-white rounded-full" ><i class="fa-brands fa-instagram" style="color: white;"></i></a>
                                        <a href="perdanamitrakencana@outlook.com" class="flex justify-center items-center w-7 h-7 md:w-9 md:h-9 border border-white rounded-full" ><i class="fa-solid fa-envelope" style="color: white;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
                <div class="flex justify-center items-center mt-5">
                    <p class="text-white/50 text-[14px] md:text-[18px] font-light text-center">© 2026 PT Perdana Mitra Kencana. All rights reserved. Designed by PMK Digital Team.</p>
                </div>
        </footer>

        <script src="../js/script.js"></script>

</body>
</html>